<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Domino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="plans.js"></script>
</head>
<body>
    <div id="nav">
            <i class="fas fa-cloud"></i>
    </div>


    <div id="app">

        <div id="search">
            <input id="searchbox" type="text" v-model="search" placeholder="&#xF002 Search">
        </div>
        <div>
            <div class="table-row table-row-head">
                <div>Provider</div>
                <div>Name</div>
                <div>CPU</div>
                <div>Memory</div>
                <div>Disk</div>
                <div>Pricing</div>
                <div>Region</div>
            </div>
            <div class="table-row" v-for="plan in getPlans()">
                <div>{{plan.provider}}</div>
                <div class=".overflow-hidden">{{plan.name}}</div>
                <div>{{plan.vcpus}}</div>
                <div>{{plan.memory_in_gb}}</div>
                <div>{{plan.disk_in_gb}}</div>
                <div>{{plan.price_per_hour}}</div>
                <div>{{plan.region}}</div>
            </div>
        </div>
    </div>
    
</body>
<script>
    var app=new Vue({
    el: "#app",
    data: function(){
            return {
            search: '',
            plans: plans};
    },
    methods:
    {
        filterByName: function(value, plans) {
            return plans.filter(function(plan){
                return plan.name.toLowerCase().indexOf(value.toLowerCase())>=0;
            })
        },
        filterByProvider: function(value, plans) {
            return plans.filter(function(plan){
                return plan.provider.toLowerCase().indexOf(value.toLowerCase())>=0;
            })
        },
        filterByCpu: function(value, plans) {
            return plans.filter(function(plan){
                return plan.vcpus == value;
            })
        },
        filterByMemory: function(value, plans) {
            return plans.filter(function(plan){
                return plan.memory_in_gb == value;
            })
        }, 
        filterBy: function(field, plans) {
            var words = field.toLowerCase().trim().split(":")
            var key = words[0], value = words[1]
            switch(key) {
                case "name" : return this.filterByName(value, plans);
                                break;
                case "provider": return this.filterByProvider(value, plans);
                                break;
                case "cpu" : return this.filterByCpu(value, plans);
                                break;
                case "memory": return this.filterByMemory(value, plans);
                                break;
                default: return plans;
            }
        },
        filterPlans: function(fields, plans) {
            console.log
            if (fields.length == 1){
                return this.filterBy(fields[0], plans)
            }
            else 
                return this.filterPlans(fields.splice(1), this.filterBy(fields[0], plans))
        },
        getPlans: function() {
            if (this.search.length > 0) {
                var keyFields = this.search.trim().split(" ")
                return this.filterPlans(keyFields, this.plans)
            }
            else    
                return this.plans
        }
    }
    });
    
</script>
</html>